
body {
background-color: #111111;
}
.reveal p {
color: white;
}
.reveal ul, ol {
color: white;
}
div.output_area pre {
color: white;
}
div.output_stderr {
background: #F00;
}
.reveal table th, .reveal table td {
color: white;
}